@import './utils.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  font-family: 'IBM Plex Sans', sans-serif;

  user-select: none;
}

body {
  overflow-x: hidden;

  background-color: #fcfaf9;
}

// Mobile
.grid {
  grid-template-areas:
    'Header'
    'Main'
    'Footer';
  grid-template-rows: 524px 1024px 397px;

  display: grid;

  width: auto;

  background-image: url(../../public/assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position-x: left 12px;
  background-position-y: top -206px;
}

// Tablet
@media only screen and (min-width: 768px) {
  .grid {
    grid-template-rows: 632px 916px 233px;

    background-image: url(../../public/assets/bg-main-tablet.png);
    background-position-x: right -90px;
    background-position-y: top -260px;
  }
}

// Desktop
@media only screen and (min-width: 1440px) {
  .grid {
    grid-template-rows: 647px 928px 257px;

    background-image: url(../../public/assets/bg-main-desktop.png);
    background-position-x: right -190px;
    background-position-y: top -260px;
  }
}
