// Mobile
.h-wrapper {
  padding: 40px 0 0 24px;
  .h-text {
    max-width: 327px;
    .h-logo {
      margin-bottom: 64px;

      cursor: pointer;
    }
    .h-title {
      margin-bottom: 20px;

      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      letter-spacing: -0.45px;
    }
    .h-body {
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
    }
  }
  .h-background {
    display: none;
  }
}

// Tablet
@media only screen and (min-width: 722px) {
  .h-wrapper {
    min-width: 100vw;
    padding: 62px 0 0 39px;
    .h-text {
      max-width: 500px;
      .h-logo {
        margin-bottom: 95px;

        cursor: pointer;
      }
      .h-title {
        margin-bottom: 28px;

        font-size: 64px;
        line-height: 64px;
        font-weight: 700;
        letter-spacing: -0.73px;
      }
      .h-body {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
      }
    }
    .h-background {
      position: absolute;
      top: -32px;
      right: -32px;

      display: block;

      width: 266px;
      height: 400px;
    }
  }
}

// Desktop
@media only screen and (min-width: 1440px) {
  .h-wrapper {
    min-width: 100vw;
    padding: 67px 0 0 165px;
    .h-text {
      max-width: 850px;
      .h-logo {
        margin-bottom: 127px;

        cursor: pointer;
      }
      .h-title {
        margin-bottom: 41px;

        font-size: 88px;
        line-height: 88px;
        font-weight: 700;
        letter-spacing: -1px;
      }
      .h-body {
        font-size: 20px;
        line-height: 34px;
        font-weight: 400;
      }
    }
    .h-background {
      position: absolute;
      top: -40px;
      right: 0;

      display: block;

      width: 312px;
      height: 468px;
    }
  }
}
